.table table > thead > tr > th {
  padding: 8px;
  font-size: small;
  font-weight: 600;
  color: #777 !important;
  transition: 0.3s;
}

.table table > thead > tr > th::before {
  content: unset !important;
}

.maintable table > thead > tr > th {
  padding: 10px;
  font-size: small;
  font-weight: 600;
  color: #fff !important;
  white-space: nowrap;
  background-color: #39b398 !important;
}

.table table > tbody > tr > td,
.maintable table > tbody > tr > td,
.table table > tfoot > tr > td,
.maintable table > tfoot > tr > td {
  color: #6b6f82;
  padding: 8px;
  height: 45px;
  font-size: 14px !important;
}

.maintable table tr {
  background-color: #fff;
  border: solid 0.5px #d8efea !important;
}

.maintable {
  width: 100%;
}
